<html>
    <head>
        <title>Sprint Prueba</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
<body>
<header>
    <nav>
        <p>Sprint Prueba</p>
        <ul>
            <li>
                <a href="/movies">Ver pelis</a>
            </li>

            <li>
                <a href="/movies/create">crear peli</a>
            </li>

            <li>
                <a href="/movies/new">estrenos</a>
            </li>

            <li>
                <a href="/movies/recommended">recomendadas</a>
            </li>

            <li>
                <a href="/movies/search">Buscar</a>
            </li>

        </ul>
    </nav>
</header>