<%- include('header') -%> 
 
<h1> Recomendadas! </h1>

<ul>
    <% for(let i=0; i < peliculas.length; i++) {%>     
        <li>
            <a href="/movies/detail/<%=peliculas[i].id%>">
                <%=peliculas[i].title %>
            </a>     
        </li>
    <% } %> 
       
</ul>


<%- include('footer')-%> 
